@charset "utf-8";

.book_area-btn {
  bottom: 20px;
}
.tab_title {
  margin-top: 10px;
  padding: 0 75px;
}
.tab_title li {
  cursor: pointer;
  width: 160px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: left;
  border: 1px solid #b4b4b4;
  margin-right: 10px;
  color: #646464;
  font-size: 14px;
  font-weight: bold;
}
.tab_title li:last-child {
  margin-right: 0;
}
.tab_title li:nth-child(1):hover {
  color: #fff;
  background: #ac6060;
  border: none;
}
.tab_title .tab_click:nth-child(1) {
  color: #fff;
  background: #ac6060;
  border: none;
}
.tab_title li:nth-child(2):hover {
  color: #fff;
  background: #f89a54;
  border: none;
}
.tab_title .tab_click:nth-child(2) {
  color: #fff;
  background: #f89a54;
  border: none;
}
.tab_title li:nth-child(3):hover {
  color: #fff;
  background: #e8de85;
  border: none;
}
.tab_title .tab_click:nth-child(3) {
  color: #fff;
  background: #e8de85;
  border: none;
}
.tab_title li:nth-child(4):hover {
  color: #fff;
  background: #83ceba;
  border: none;
}
.tab_title .tab_click:nth-child(4) {
  color: #fff;
  background: #83ceba;
  border: none;
}
.tab_title li:nth-child(5):hover {
  color: #fff;
  background: #7db6d3;
  border: none;
}
.tab_title .tab_click:nth-child(5) {
  color: #fff;
  background: #7db6d3;
  border: none;
}
.tab_title li:nth-child(6):hover {
  color: #fff;
  background: #b096b9;
  border: none;
}
.tab_title .tab_click:nth-child(6) {
  color: #fff;
  background: #b096b9;
  border: none;
}
.tab_title li:nth-child(7):hover {
  color: #fff;
  background: #8d8c8a;
  border: none;
}
.tab_title .tab_click:nth-child(7) {
  color: #fff;
  background: #8d8c8a;
  border: none;
}
.tab_title li:nth-child(8):hover {
  color: #fff;
  background: #c0cccc;
  border: none;
}
.tab_title .tab_click:nth-child(8) {
  color: #fff;
  background: #c0cccc;
  border: none;
}
.chart {
  margin: 55px auto;
  background: skyblue;
  width: 1400px;
  height: 330px;
}

/*	사용자분석(	user_analysis)	*/
.chart_list1 {
  background: #f0f1f4;
  width: 100%;
  padding: 0 20px;
}
.chart_list1 table {
  width: 250px;
  float: left;
  margin-right: 54px;
}
.chart_list1 table:last-child {
  margin-right: 0px;
}
.chart_list1 table tr th,
.chart_list1 table tr td {
  padding-top: 33px;
  padding-bottom: 20px;
}
.chart_list1 table tr th {
  color: #646464;
  font-weight: bold;
  font-size: 15px;
  padding-left: 10px;
}
.chart_list1 table tr:nth-child(1) th {
  border-bottom: 1px solid #dcdcdc;
}
.chart_list1 table tr td {
  font-size: 22px;
  font-weight: bold;
  color: #323232;
  text-align: right;
  padding-right: 10px;
}
.chart_list1 table tr:nth-child(1) td {
  border-bottom: 1px solid #dcdcdc;
}

/*	시간대별통계(time_stats)	*/
.chart_list2 {
  width: 1370px;
  margin: auto;
}
.chart_list2 table {
  width: 650px;
  float: left;
}
.chart_list2 table:nth-of-type(1) {
  margin-right: 70px;
}
.chart_list2 table tr th,
.chart_list2 table tr td {
  height: 40px;
  line-height: 40px;
}
.chart_list2 table tr th:nth-child(1),
.chart_list2 table tr td:nth-child(1) {
  text-align: left;
  padding-left: 50px;
}

/*	도서별통계(book_stats)	*/
.top_area-table {
  width: 1320px;
}
.top_area-table tr th {
  width: 80px;
}
.BS-table {
  margin-top: 40px;
}
.BS-table tr td,
.BS-table tr th {
  height: 40px;
  line-height: 40px;
}
.BS-table tr th:nth-child(2),
.BS-table tr th:nth-child(6),
.BS-table tr th:nth-child(7),
.BS-table tr th:nth-child(8),
.BS-table tr th:nth-child(9),
.BS-table tr th:nth-child(10),
.BS-table tr th:nth-child(11) {
  text-align: left;
  width: 120px;
}
.BS-table tr td:nth-child(2),
.BS-table tr td:nth-child(6),
.BS-table tr td:nth-child(7),
.BS-table tr td:nth-child(8),
.BS-table tr td:nth-child(9),
.BS-table tr td:nth-child(10),
.BS-table tr td:nth-child(11) {
  text-align: left;
}
.BS-table tr th:nth-child(11) {
  width: 100px;
}
.BS-table tr td:nth-child(7),
.BS-table tr td:nth-child(8),
.BS-table tr td:nth-child(9),
.BS-table tr td:nth-child(10),
.BS-table tr td:nth-child(11) {
  padding-left: 20px;
}
.BS-table tr th:nth-child(2) em,
.BS-table tr th:nth-child(11) em {
  width: 50px;
}
.BS-table tr th:nth-child(7) em,
.BS-table tr th:nth-child(10) em {
  width: 80px;
}
.BS-table tr th:nth-child(8) em {
  width: 82px;
}
.BS-table tr th:nth-child(9) em {
  width: 70px;
}

/*	카테고리순위(category_ranking)	*/
.CR .top_area-table {
  width: 870px;
}
.CR-table {
  margin-top: 40px;
}
.CR-table tr th,
.CR-table tr td {
  height: 40px;
  line-height: 40px;
}
.CR-table tr th:nth-child(2),
.CR-table tr th:nth-child(4) {
  text-align: left;
  padding-left: 140px;
}
.CR-table tr th:nth-child(3) {
  text-align: left;
  padding-left: 200px;
}
.CR-table tr th:nth-child(2) em,
.CR-table tr th:nth-child(4) em {
  width: 80px;
}
.CR-table tr th:nth-child(3) em {
  width: 115px;
}

/*	상황테마순위(thema_ranking)	*/
.TR .top_area-table {
  width: 870px;
}
.TR-table {
  margin-top: 40px;
}
.TR-table tr th,
.TR-table tr td {
  height: 40px;
  line-height: 40px;
}
.TR-table tr th:nth-child(3),
.TR-table tr th:nth-child(4),
.TR-table tr th:nth-child(5) {
  text-align: left;
}
.TR-table tr td:nth-child(3),
.TR-table tr td:nth-child(4),
.TR-table tr td:nth-child(5) {
  text-align: left;
}
.TR-table tr td:nth-child(5) {
  padding-left: 20px;
}
.TR-table tr th:nth-child(4) em {
  width: 105px;
}
.TR-table tr th:nth-child(5) em {
  width: 80px;
}
.TR-table tr th:nth-child(3),
.TR-table tr td:nth-child(3) {
  padding-left: 50px;
}

/*	검색어순위(search_ranking)	*/
.SR-table {
  margin-top: 40px;
}
.SR-table tr th,
.SR-table tr td {
  height: 40px;
  line-height: 40px;
}
.rank_up {
  background: url('/images/rank_up.png') no-repeat right;
  display: inline-block;
  width: 50px;
}
.rank_down {
  background: url('/images/rank_down.png') no-repeat right;
  display: inline-block;
  width: 50px;
}

/*	키워드순위(keyword_ranking)	*/
.KR .top_area-table {
  width: 1100px;
}
.KR-table {
  margin-top: 40px;
}
.KR-table tr th,
.KR-table tr td {
  height: 40px;
  line-height: 40px;
}

/*	기기별분포(device)	*/
.device .top_area-table {
  width: 750px;
}
.chart_wrap {
  width: 640px;
  margin: 100px auto;
}
.page_chart,
.loan_chart {
  width: 220px;
  height: 350px;
  background: skyblue;
  float: left;
}
.page_chart {
  margin-right: 200px;
}
