@charset "utf-8";

/*	비밀번호 확인(confirm_Password)	*/

.CP .wrap {
  width: 600px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.CP h2 {
  height: 150px;
  line-height: 150px;
  font-size: 48px;
  color: #323232;
  text-align: center;
}
.pw_input_wrap {
  text-align: center;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  padding-top: 55px;
  padding-bottom: 55px;
}
.pw_input_wrap strong {
  font-size: 16px;
  color: #323232;
  display: inline-block;
  margin-right: 3px;
}
.pw_input_wrap input {
  width: 350px;
  padding-left: 10px;
}
.CP .btn_wrap {
  text-align: center;
  margin-top: 40px;
}
.CP .btn_wrap .tall_btn {
  margin-left: 0;
}

/*	사용자등록(user_register)	*/
h4 {
  font-size: 20px;
  color: #39ae92;
  margin-bottom: 10px;
}
.UR-table1 button {
  margin-left: 4px;
}
.UR-table2 strong {
  width: 80px;
  display: inline-block;
}

/*	사용자조회(user_check)	*/
.UC-table {
  margin-top: 10px;
}
.UC-table tr th,
.UC-table tr td {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.UC-table tr:hover {
  background: #f8e5dc;
}
.UC-table tr th:last-child,
.UC-table tr td:last-child {
  padding-right: 100px;
  text-align: right;
}
.UM_title {
  font-weight: 100;
  color: #646464;
}
.UM_title a {
  color: #646464;
  font-weight: bold;
}
.UM .common_title strong {
  color: #323232;
}
.UM-popup_bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 7454;
  position: fixed;
  display: none;
}
.UM-popup {
  width: 400px;
  height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
}
.UM-popup h4 {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  background: #42b299;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.UM-popup_close {
  position: absolute;
  width: 18px;
  height: 18px;
  display: inline-block;
  top: 50%;
  margin-top: -9px;
  right: 40px;
  cursor: pointer;
  background: url('/assets/images/close_off.png') no-repeat center;
}
.UM-popup_close:hover {
  background: url('/assets/images/close_on.png') no-repeat center;
}
.UM-popup p {
  line-height: 1.5;
  margin: 35px 0;
}
.UM-popup strong {
  font-size: 14px;
  color: #323232;
  display: inline-block;
  margin-right: 5px;
}
.UM-popup input {
  width: 220px;
  padding-left: 10px;
}
.UM-popup button {
  margin-top: 30px;
}
